caption {
  color: yellow;
  background-color: #BFBEA5;
}

table {
  background-color: black;
  color: white;
  margin-bottom: 20px;
  background-color: #A6A144;
}

th {
  background-color: #BFBEA5;
}

td {
  text-align: center;
}

#space {
  width: 259px;
  height: 21px;
}

#time {
  width: 184px;
  height: 42px;
}

#num {
  width: 65px;
  height: 42px;
}