.pred {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 0;
	list-style: none;
}

.parent {
  display: flex;
  user-select: none; /* запрещает выделение текста */
}

.bood {
	flex-basis: 30%;
	padding: 10px;
}

.assin {
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #333;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	transition: background-color 0.2s ease-in-out;
}

.assin:hover {
	background-color: #ddd;
}