#pred {
	background-color: #FFFEE5;
}

#assin {
	text-align: left;
}

#assin {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid blue;
	border-width: 2px 2px 5px 2px;
	color: #333;
	text-decoration: none;
}

#bood {
	text-align: left;
}

#bood {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #FFFEE5;
	border-width: 2px 2px 5px 2px;
	color: #333;
	text-decoration: none;
	background-color: #FFFEE5;
}